

#recipe-container{
    width: 60vw;  
    margin: auto auto 10px auto;
}
#title{
    font-size: 1.2em;
}
legend{
    text-align: center;
}
.name-recipe{
    text-align: center;
}

@media(max-width: 900px){
    #recipe-container{
        width: 80vw;  
    }
    #title{
        font-size: 1em;
    }
}
@media(max-width: 700px){
    #recipe-container{
        width: 90vw;  
    }
    #title{
        font-size: 0.8em;
    }
}